.btn {
  @apply text-white cursor-pointer;
  padding: 0 20px;
  line-height: 30px;
  transition: $default_duration all;

  &:hover {
    @apply text-white;
  }

  &.btn-primary {
    @apply bg-blue-dark rounded-full font-bold tracking-wider;

    &:hover {
      @apply bg-blue-darker;
    }
  }

  &.btn-success {
    @apply bg-green rounded-full font-bold tracking-wider;

    &:hover {
      @apply bg-green-dark;
    }
  }

  &.btn-md {
    line-height: 45px;
  }
}

