input[type="text"],
input[type="password"] {
  &:not(.unique) {
    @apply .text-base .text-grey-dark .rounded-full .border .border-grey-light .w-full .pl-12 .pr-6;
      max-width: 313px;
      line-height: 44px;
      margin-bottom: 20px;
      transition: $default_duration all;

      &:focus {
        @apply .border-transparent;
        box-shadow: rgba(0, 0, 0, .085) 0 3px 15px;
      }

      &.iconed {
        + i {
          @apply .text-grey-light .text-xl .absolute .pin-t .pin-l .m-auto .ml-5;
          line-height: 44px;
          margin-top: 1px;
        }
      }
  }
}

.checkbox {
  @apply .pl-6 .relative;

  &.round {
    span {
      &::before {
        @apply .rounded-full;
      }
    }
  }

  input {
    @apply .hidden;

    &:checked {
      + span::before {
        @apply .bg-green .border-green;
      }

      + span::after {
        @apply .absolute .m-auto .text-white;
        content: '\e905';
        font-family: 'icomoon';
        left: -3px;
        top: -5px;
        font-size: 1.3rem;
      }
    }
  }

  span {
    &::before {
      @apply .pin-l .absolute .pin-y .m-auto .border .rounded .border-grey-light;
      content: '';
      height: 15px;
      line-height: 15px;
      width: 15px;
    }
  }
}

::-webkit-input-placeholder {
  @apply .text-grey-light .font-light .opacity-100;
}
