.board {
  @apply p-5 flex flex-1 flex-wrap;

  .inner {
    @apply flex flex-1 flex-wrap;

    .content-wrapper {
      @apply flex-1 ml-5 flex-col flex;

      @include breakpoint(lg) {
        @apply ml-0 mt-5;
      }

      > .content {
        @apply bg-white p-10 flex-1 rounded border border-grey-light;

        p {
          @apply font-montserrat;
        }
      }
    }
  }

  @include breakpoint(lg) {
    @apply flex-col;
    padding-left: 80px;
    padding-top: 131px;

    .inner {
      @apply flex-col;
    }
  }

  @include breakpoint(md) {
    padding-top: 81px;
  }
}
