@font-face {
  font-family: 'icomoon';
  src:  url('./assets/fonts/icon/icomoon.eot?yusqow');
  src:  url('./assets/fonts/icon/icomoon.eot?yusqow#iefix') format('embedded-opentype'),
    url('./assets/fonts/icon/icomoon.ttf?yusqow') format('truetype'),
    url('./assets/fonts/icon/icomoon.woff?yusqow') format('woff'),
    url('./assets/fonts/icon/icomoon.svg?yusqow#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"],
.open-indicator {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heading {
  @apply .text-4xl .rounded-full .text-mint .border-mint .border-4 .bg-pale-light;
  height: 99px;
  width: 99px;
}

.icon-agenda:before { content: "\e906"; }
.icon-anchor:before { content: "\e907"; }
.icon-antenna1:before { content: "\e908"; }
.icon-antenna2:before { content: "\e909"; }
.icon-arow:before { content: "\e90a"; }
.icon-astronaut:before { content: "\e90b"; }
.icon-bag:before { content: "\e90c"; }
.icon-bascketball:before { content: "\e90d"; }
.icon-bateryfull:before { content: "\e90e"; }
.icon-baterylow:before { content: "\e90f"; }
.icon-bicycle:before { content: "\e910"; }
.icon-bigtruck:before { content: "\e911"; }
.icon-blog:before { content: "\e912"; }
.icon-bomb:before { content: "\e913"; }
.icon-bok:before { content: "\e914"; }
.icon-botleofwine:before { content: "\e915"; }
.icon-bourbon:before { content: "\e916"; }
.icon-bread:before { content: "\e917"; }
.icon-briefcase:before { content: "\e918"; }
.icon-bulb:before { content: "\e919"; }
.icon-calculator:before { content: "\e91a"; }
.icon-car:before { content: "\e91b"; }
.icon-carioca:before { content: "\e91c"; }
.icon-cassete:before { content: "\e91d"; }
.icon-cd:before { content: "\e91e"; }
.icon-chart:before { content: "\e91f"; }
.icon-chart2:before { content: "\e920"; }
.icon-chartdown:before { content: "\e921"; }
.icon-chartup:before { content: "\e922"; }
.icon-chemicalglass:before { content: "\e923"; }
.icon-click:before { content: "\e924"; }
.icon-clipboardchart:before { content: "\e925"; }
.icon-clipboardtext:before { content: "\e926"; }
.icon-closedlock:before { content: "\e927"; }
.icon-add:before { content: "\e9d5"; }
.icon-cloud:before { content: "\e928"; }
.icon-coffeetogo:before { content: "\e929"; }
.icon-column:before { content: "\e92a"; }
.icon-compactcamera:before { content: "\e92b"; }
.icon-compass:before { content: "\e92c"; }
.icon-compasstol:before { content: "\e92d"; }
.icon-controller:before { content: "\e92e"; }
.icon-corkscrew:before { content: "\e92f"; }
.icon-crown:before { content: "\e930"; }
.icon-cup:before { content: "\e931"; }
.icon-delete:before { content: "\e932"; }
.icon-desktopmonitor:before { content: "\e933"; }
.icon-diamondring:before { content: "\e934"; }
.icon-dislike:before { content: "\e935"; }
.icon-dollar:before { content: "\e936"; }
.icon-dollars:before { content: "\e937"; }
.icon-download:before { content: "\e938"; }
.icon-downloadcloud:before { content: "\e939"; }
.icon-drop:before { content: "\e93a"; }
.icon-dslrcamera:before { content: "\e93b"; }
.icon-edit:before { content: "\e93c"; }
.icon-emptybox:before { content: "\e93d"; }
.icon-espresso:before { content: "\e93e"; }
.icon-exit:before { content: "\e93f"; }
.icon-exitfullscreen:before { content: "\e940"; }
.icon-export:before { content: "\e941"; }
.icon-eye:before { content: "\e942"; }
.icon-femalefigure:before { content: "\e943"; }
.icon-file:before { content: "\e944"; }
.icon-filebox:before { content: "\e945"; }
.icon-files:before { content: "\e946"; }
.icon-flag:before { content: "\e947"; }
.icon-floppy:before { content: "\e948"; }
.icon-folder:before { content: "\e949"; }
.icon-fotbal:before { content: "\e94a"; }
.icon-forkandknife:before { content: "\e94b"; }
.icon-forward:before { content: "\e94c"; }
.icon-fullscreen:before { content: "\e94d"; }
.icon-fullshoppingcart:before { content: "\e94e"; }
.icon-gameboy:before { content: "\e94f"; }
.icon-glasses:before { content: "\e950"; }
.icon-goto:before { content: "\e951"; }
.icon-handicap:before { content: "\e952"; }
.icon-hanger:before { content: "\e953"; }
.icon-headset:before { content: "\e954"; }
.icon-heart:before { content: "\e955"; }
.icon-help:before { content: "\e956"; }
.icon-hourglass:before { content: "\e957"; }
.icon-house:before { content: "\e958"; }
.icon-icecream1:before { content: "\e959"; }
.icon-icecream2:before { content: "\e95a"; }
.icon-imbox:before { content: "\e95b"; }
.icon-info:before { content: "\e95c"; }
.icon-ipod:before { content: "\e95d"; }
.icon-key:before { content: "\e95e"; }
.icon-keyboard:before { content: "\e95f"; }
.icon-layers:before { content: "\e960"; }
.icon-like:before { content: "\e961"; }
.icon-linked:before { content: "\e962"; }
.icon-list:before { content: "\e963"; }
.icon-magnet:before { content: "\e964"; }
.icon-mail:before { content: "\e965"; }
.icon-manfigure:before { content: "\e966"; }
.icon-mastercard:before { content: "\e967"; }
.icon-medal:before { content: "\e968"; }
.icon-media:before { content: "\e969"; }
.icon-megaphone:before { content: "\e96a"; }
.icon-menu:before { content: "\e96b"; }
.icon-message:before { content: "\e96c"; }
.icon-messageleft:before { content: "\e96d"; }
.icon-messageright:before { content: "\e96e"; }
.icon-microphone:before { content: "\e96f"; }
.icon-microphone2:before { content: "\e970"; }
.icon-mouse:before { content: "\e971"; }
.icon-movie:before { content: "\e972"; }
.icon-mug:before { content: "\e973"; }
.icon-musicmixer:before { content: "\e974"; }
.icon-musicNote:before { content: "\e975"; }
.icon-musicNote2:before { content: "\e976"; }
.icon-mute:before { content: "\e977"; }
.icon-next:before { content: "\e978"; }
.icon-notebok:before { content: "\e979"; }
.icon-notes:before { content: "\e97a"; }
.icon-on-off:before { content: "\e97b"; }
.icon-openedlock:before { content: "\e97c"; }
.icon-paperclip:before { content: "\e97d"; }
.icon-pause:before { content: "\e97e"; }
.icon-pen:before { content: "\e97f"; }
.icon-pencil:before { content: "\e980"; }
.icon-phone:before { content: "\e981"; }
.icon-phone2:before { content: "\e982"; }
.icon-picnicbasket:before { content: "\e983"; }
.icon-picture:before { content: "\e984"; }
.icon-pill:before { content: "\e985"; }
.icon-pizza:before { content: "\e986"; }
.icon-plaine:before { content: "\e987"; }
.icon-planet:before { content: "\e988"; }
.icon-plaster:before { content: "\e989"; }
.icon-play:before { content: "\e98a"; }
.icon-podium:before { content: "\e98b"; }
.icon-pointer:before { content: "\e98c"; }
.icon-pol:before { content: "\e98d"; }
.icon-poweroff:before { content: "\e98e"; }
.icon-printer:before { content: "\e98f"; }
.icon-pulse:before { content: "\e990"; }
.icon-puzzle:before { content: "\e991"; }
.icon-radio:before { content: "\e992"; }
.icon-restart:before { content: "\e993"; }
.icon-resume:before { content: "\e994"; }
.icon-ringer:before { content: "\e995"; }
.icon-rolodex:before { content: "\e996"; }
.icon-scisors:before { content: "\e997"; }
.icon-screwdriver:before { content: "\e998"; }
.icon-search:before { content: "\e999"; }
.icon-seringe:before { content: "\e99a"; }
.icon-settings:before { content: "\e99b"; }
.icon-shaker:before { content: "\e99c"; }
.icon-share:before { content: "\e99d"; }
.icon-shield:before { content: "\e99e"; }
.icon-shoppingcart:before { content: "\e99f"; }
.icon-signal:before { content: "\e9a0"; }
.icon-simcard:before { content: "\e9a1"; }
.icon-snikers:before { content: "\e9a2"; }
.icon-soccer:before { content: "\e9a3"; }
.icon-soda:before { content: "\e9a4"; }
.icon-sodacan:before { content: "\e9a5"; }
.icon-speaker:before { content: "\e9a6"; }
.icon-speaker2:before { content: "\e9a7"; }
.icon-speedometer:before { content: "\e9a8"; }
.icon-star:before { content: "\e9a9"; }
.icon-starship:before { content: "\e9aa"; }
.icon-starship2:before { content: "\e9ab"; }
.icon-stop:before { content: "\e9ac"; }
.icon-storagebox:before { content: "\e9ad"; }
.icon-tablet:before { content: "\e9ae"; }
.icon-tag:before { content: "\e9af"; }
.icon-teamug:before { content: "\e9b0"; }
.icon-telesocpe:before { content: "\e9b1"; }
.icon-tennisball:before { content: "\e9b2"; }
.icon-tie:before { content: "\e9b3"; }
.icon-time:before { content: "\e9b4"; }
.icon-timer:before { content: "\e9b5"; }
.icon-tols:before { content: "\e9b6"; }
.icon-trousers:before { content: "\e9b7"; }
.icon-truck:before { content: "\e9b8"; }
.icon-tshirt:before { content: "\e9b9"; }
.icon-tv:before { content: "\e9ba"; }
.icon-typing:before { content: "\e9b"; }
.icon-umbrella:before { content: "\e9bc"; }
.icon-underpants:before { content: "\e9bd"; }
.icon-unlinked:before { content: "\e9be"; }
.icon-uploadcloud:before { content: "\e9bf"; }
.icon-user:before { content: "\e9c0"; }
.icon-users:before { content: "\e9c1"; }
.icon-video:before { content: "\e9c2"; }
.icon-volume:before { content: "\e9c3"; }
.icon-wallet:before { content: "\e9c4"; }
.icon-watch:before { content: "\e9c5"; }
.icon-water:before { content: "\e9c6"; }
.icon-web:before { content: "\e9c7"; }
.icon-webcam:before { content: "\e9c8"; }
.icon-wheelbarow:before { content: "\e9c9"; }
.icon-wineglass:before { content: "\e9ca"; }
.icon-worldglobe:before { content: "\e9cb"; }
.icon-worldwide:before { content: "\e9cc"; }
.icon-wrench:before { content: "\e9cd"; }
.icon-check:before { content: "\e905"; }
.icon-arrow-right:before { content: "\e900"; }
.icon-facebook:before { content: "\e901"; }
.icon-instagram:before { content: "\e902"; }
.icon-twitter:before { content: "\e903"; }
.icon-youtube:before { content: "\e904"; }
.icon-arrow-down:before { content: "\e9ce"; }
.icon-artboard:before { content: "\e9cf"; }
.icon-award:before { content: "\e9d0"; }
.icon-badge:before { content: "\e9d1"; }
.icon-dock:before { content: "\e9d2"; }
.icon-tablet:before { content: "\e9d3"; }
.icon-circle-in:before { content: "\e9d4"; }
.icon-times:before { content: "\e9d6"; }
