.cols {
  margin: 0 -15px;

  .col {
    padding: 0 15px;
  }
}

.manager {
  .cols {
    .col {
      @include breakpoint(xl) {
        @apply mb-5;
        flex: 1 0 50%;
      }

      @include breakpoint(lg) {
        flex: 1 0 33.33%;
      }

      @include breakpoint(md) {
        flex: 1 0 100%;
      }
    }
  }
}
