footer {
  @apply .text-white .bg-green;
  padding: 70px 0 30px;

  .container {

    .cols {
      @apply .flex;

      @include breakpoint(md) {
        @apply .flex-col .text-center;

        > :not(:first-child) {
          @apply .mt-8;
        }
      }

      .col {
        @apply .flex-1;

        p,
        a {
          @apply .font-roboto .text-white .text-sm;

          &:hover {
            @apply .text-green-darker;
          }
        }

        .links {
          @apply .flex;

          @include breakpoint(md) {
            @apply .inline-block;
          }

          ul {
            @apply .flex-1;

            @include breakpoint(md) {
              @apply .inline-block .px-5;
            }

            @include breakpoint(sm) {
              @apply .block .px-0;
            }

            li {
              @apply .mb-4 .relative;

              @include breakpoint(md) {
                @apply .table;
              }

              &::before {
                @apply .absolute .pin-l .pin-y .m-auto .bg-white;
                content: '';
                height: 3px;
                width: 13px;
              }

              a {
                @apply .pl-6;
              }
            }
          }
        }

        form {
          @apply .w-full .flex;
          max-width: 360px;

          @include breakpoint(md) {
            @apply .mx-auto;
          }

          [type="text"] {
            @apply .rounded-l .text-sm .font-roboto .text-grey-darker .flex-1 .bg-white;
            height: 46px;
            line-height: 46px;
            padding: 0 10px 0 35px;
          }

          button {
            @apply .rounded-r .bg-white .relative;
            flex: 0 0 67px;

            &::before {
              @apply .block .absolute .m-auto .pin-l .bg-grey .opacity-50;
              content: '';
              height: 27px;
              width: 1px;
            }

            i {
              @apply .text-grey-darker .text-2xl;
            }
          } 
        }

        .social-links {
          @apply .flex .items-center .mt-6;

          @include breakpoint(md) {
            @apply .justify-center .pb-6;
          }

          li {
            @apply .mr-5;

            a {
              i {
                @apply .text-xl;
              }
            }
          }
        }
      }
    }
  }
}
