.btn {
  @apply .text-white;
  padding: 0 20px;
  line-height: 30px;

  &.btn-primary {
    @apply .bg-blue-dark .rounded-full .font-bold .tracking-wider;
  }

  &.btn-success {
    @apply .bg-green .rounded-full .font-bold .tracking-wider;
  }

  &.btn-md {
    line-height: 45px;
  }
}

.btn-menu {
  @apply .hidden .flex-col .justify-between .items-end;
  height: 21px;

  .top,
  .mid,
  .bot {
    @apply .w-full .bg-white;
    height: 3px;
    width: 30px;
  }

  .mid {
    width: 25px;
    transition: .25s all;
  }

  &:hover {
    .mid {
      width: 30px;
    }
  }
}
